streamlit
matplotlib
pandas
numpy
seaborn
plotly
openai
scikit-learn
xgboost
lightgbm
catboost==1.0.4  # o intenta con otra versión si esta sigue generando problemas
folium
streamlit-folium
python-dotenv
category_encoders
